h1{
    background-color: red;
}
div{
    background-color: pink;
}
span{
    background-color: blue;
}
p{
    background-color: violet;
}
a{
    background-color: blueviolet;
}
img{
    background-color: rgb(123, 75, 16);
}